#db config
DB_URL=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=


#app config
DEFAULT_USER=
ENVIRONMENT=
JWT_SECRET_KEY=

# Azure
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
AZURE_AD_REDIRECT_URI=/api/authazure/callback
FRONTEND_AZURE_AUTH_CALLBACK_URI=http://localhost:5173
BACKEND_URI=http://localhost:9898


# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=/api/authgoogle/callback
FRONTEND_URL=http://localhost:5173

#pusher
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=