LLM_BASE_URL=http://localhost:11434/v1
LLM_MODEL=gemma3:12b
LLM_API_KEY=ollama
EMBEDDINGS_BASE_URL=http://localhost:11434
EMBEDDINGS_MODEL=snowflake-arctic-embed2:latest

DATASET_BASE_URL=http://localhost/v1
DATASET_ID=d3374735-4590-445d-bab4-da4d3ab77559
DATASET_API_KEY=dataset-Ux75nYjrQG2LRfESfjF4oPjj